body {
    background-image: url('../../Images/phil-botha-594612-unsplash.jpg');
}

#circle {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
}

.loader {
    margin-top: 0px;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid DodgerBlue;
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
